name: "JFrog CLI npm Publish OIDC"
on: push

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://migration3.jfrog.io 
        with:
          oidc-provider-name: git-test 
          oidc-audience: my-aud

      - name: npm Publish to Artifactory
        working-directory: ./npm-test
        run: |
          # Configure for your 'github-npm' repository
          jf npm-config --repo-deploy=github-npm --repo-resolve=github-npm

          # Install and Publish using OIDC-authenticated session
          jf npm install
          jf npm publish --build-name=npm-build --build-number=${{ github.run_id }}

          # Finalize Build Info
          jf rt bce npm-build ${{ github.run_id }}
          jf rt bag npm-build ${{ github.run_id }}
          jf rt bp npm-build ${{ github.run_id }}
