name: "JFrog CLI npm Publish OIDC"
on: push

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        id: setup-jfrog
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://migration3.jfrog.io 
        with:
          oidc-provider-name: git-test 
          oidc-audience: my-aud

      - name: Print Environment Variables
        # This lists all available variables on the runner
        run: env | sort

      - name: Echo JFrog User
        run: echo "Authenticated as JFrog user ${{ steps.setup-jfrog.outputs.oidc-user }}"

      - name: npm Publish to Artifactory
        working-directory: ./npm-test
        run: |
          jf npm-config --repo-deploy=github-npm --repo-resolve=github-npm
          jf npm install
          jf npm publish --build-name=npm-build --build-number=${{ github.run_id }}
          jf rt bce npm-build ${{ github.run_id }}
          jf rt bag npm-build ${{ github.run_id }}
          jf rt bp npm-build ${{ github.run_id }}
